{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

</head>

<body>
    <header>
        <nav>
            {% if user_is_authenticated %}
            Welcome, {{ user.username }}
            <ul>
                <li> <a href="{% url 'logout' %}">log out</a> </li>

                {% else %}
                <li> <a href="{% url 'login' %}">Log In</a> </li>
                <li> <a href="{% url 'signup' %}">Sign Up</a> </li>
                {% endif %}
                <li> <a href="{% url 'home' %}">All Receipts</a></li>
                <li> <a href="{% url 'create' %}">New Receipt</a> </li>
                <li> <a href="{% url 'categories' %}">Categories</a> </li>
                <li> <a href="{% url 'accounts' %}">Accounts</a> </li>
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock content %}
    <footer>
        Interior crocodile calculator
    </footer>
</body>

</html>
