{% extends 'base.html' %}


{% block title %}
Sign up page
{% endblock title %}

<html>

<body>
    {% block content %}

    <main>
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Signup</button>
            </form>
        </div>
    </main>
    {% endblock content %}
</body>

</html>
