{% extends 'base.html' %}

{% block title %}
Accounts
{% endblock title %}

{% block content %}

<main>
    <h1> </h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Number </th>
                    <th> $ of Receipts </th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr>
                    <td> {{ account.name }} </td>
                    <td> {{ account.number }} </td>
                    <td> {{ accounts.receipts.all|length }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'create_account' %}">Create new account</a>
</main>

{% endblock content %}
