{% extends 'base.html' %}


{% block title %}
Create Receipt
{% endblock title %}

<body>
    {% block content %}
    <main>
        <h1>Create a new receipt</h1>
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
    {% endblock content %}
</body>
