{% extends 'base.html' %}

{% block title %} Create Categories {% endblock title %}


{% block content %}

<main>
    <h1>
        Create a new category
    </h1>
    <div>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock content %}
